{
    'Directory': '/Users/ben/Downloads',
    'ExcludeDirectories': [
        '$RECYCLE.BIN',
        'Recycle',
        'Archives',
        'Books',
        'Documents',
        'Misc',
        'Pictures',
        'Software',
        'Videos'
    ],
    'ExcludeFilenames': [
        '^~',
        '\\.crdownload$',
        '\\.part$',
        '\\.app'
    ],
    'WorkingDir': '$($env:TMPDIR)Organize/$($config.RunTimeStamp)',
    'Rules': [
        {
            'Name': 'Archives',
            'Destination': 'Archives',
            'MatchRules': {
                'Extensions': ['.zip', '.rar', '.7z']
            },
            'Handler': 'Archives.ps1',
            'Enabled': 'true',
            'Priority': '2'
        },
        {
            'Name': 'Books',
            'Destination': 'Books',
            'MatchRules': {
                'Extensions': ['.pdf', '.chm', '.epub']
            },
            'RenameConfig': 'rename-docs.config',
            'Handler': 'Books.ps1',
            'Enabled': 'true',
            'Priority': '3'
        },
        {
            'Name': 'Documents',
            'Destination': 'Documents',
            'MatchRules': {
                'NameContains': [
                    '^(?!Downloaded|RARBG)'
                ],
                'Extensions': ['.doc', '.docx', '.txt', '.crawljob'],
            },
            'RenameConfig': 'rename-docs.config',
            'Handler': 'Documents.ps1',
            'Enabled': 'true',
            'Priority': '4'
        },
        {
            'Name': 'Pictures',
            'Destination': 'Pictures',
            'MatchRules': {
                'Extensions': ['.jpg', '.jpeg', '.png']
            },
            'RenameConfig': 'rename-generic.config',
            'Handler': 'Pictures.ps1',
            'Enabled': 'true',
            'Priority': '5'
        },
        {
            'Name': 'Software',
            'Destination': 'Software',
            'MatchRules': {
                'NameContains': [
                    '^(?!RARBG)'
                ],
                'Extensions': ['.exe', '.dmg', '.pkg', '.iso']
            },
            'Handler': 'Software.ps1',
            'Enabled': 'true',
            'Priority': '6'
        },
        {
            'Name': 'TV Shows',
            'Destination': '/Users/ben/Videos/TV/_Tag',
            'MatchRules': {
                'NameContains': [
                    'S\\d+E\\d+',
                    '\\w+\\d+x\\d+',
                    '720p',
                    'HDTV'
                ],
                'Extensions': [
                    '.mkv',
                    '.mp4'
                ]
            },
            'RenameConfig': 'rename-tv.config',
            'Handler': 'TV.ps1',
            'Enabled': 'true',
            'Priority': '1'
        },
        {
            'Name': 'Cleanup',
            'MatchRules': {
                'NameContains': [
                    '^(RARBG|Downloaded)',
                    '\\.nfo$'
                ]
            },
            'Handler': 'Cleanup.ps1',
            'Enabled': 'true',
            'Priority': '8'
        }
    ]
}
