{
    "FileNameRules": [
        {"_|\\s{2,}|\\-": " "},
        { "([\\s\\-]+)?\\(.*\\)([\\s\\-]+)?": "" },
        { "([\\s\\-]+)?\\[.*\\]([\\s\\-]+)?": "" },
        { "(\\d+)st": "$1st" },
        { "(\\d+)nd": "$1nd" },
        { "(\\d+)rd": "$1rd" },
        { "(\\d+)th": "$1th" },
        { "\\b\\.\\b": " "},
        { "’": "'" },
        { "Macos": "MacOS" },
        { "ios": "iOS" },
        { "\\s+": " " },
        { "mysql": "MySQL" },
        { "mariadb": "MariaDB" },
        { "Packt |Oreilly.|Addison Wesley |Apress | Teo Lachev| R M. Hyttinen| David Pogue| Matt Allington": ""},
        { "(.*?Edition).*": "$1"},
        { "(\\w+)\\s(\\d+.*?Edition)": "$1, $2"},
        { "(.*)isbn.*$": "$1"},
        { "\\.net": "dotNET" },
        { "ASP NET": "ASP.NET" },
        { "(.*) by .*": "$1" },
        { "\\s+$": "" },
        { "'S": "'s" },
        { "2 0": "2.0" }
    ],
    "Capitalize": [
        "BI",
        "SQL",
        ".NET",
        "MVC",
        "ASP",
        "AWS"
    ],
    "Lowercase": [
        "a",
        "\\d+am",
        "an",
        "as",
        "and",
        "are",
        "at",
        "but",
        "by",
        "for",
        "from",
        "in",
        "is",
        "of",
        "on",
        "or",
        "the",
        "to",
        "with",
        "x"
    ]
}