{
    "FileNameRules": [
        { "_|\\.|\\s{2,}": " " },
        { "^\\d{5,}[\\s|_]": "" },
        { "¡|¿|¦|❤|¿¡|\\!": "" },
        { "\\-{2,}": "" },
        { "([\\s\\-]+)?\\(.*\\)([\\s\\-]+)?": "" },
        { "([\\s\\-]+)?\\[.*\\]([\\s\\-]+)?": "" },
        { "\\.{2,}$": "" },
        { "([\\s\\-]+)?\\d+(p|k|fps)": "" },
        { ";\\)": "" },
        { "[^\\x00-\\x7F]+": "" },
        { "HDTV": "" },
        { "(x|h)264": "" },
        { "\\-Killers|\\-AVS|\\-TBS": "" },
        { "Web| Internal| WebRip": "" },
        { " -Ion1| -Sva| -Bamboozle| -LucidTV| rip\\d+": "" },
        { " -memento| repack": "" },
        { "s(\\d+)\\s?e(\\d+)": "$1x$2" },
        { " - (Video )?Dailymotion( Video)?.*": "" },
        { "(.*?)\\s+$": "$1" },
        { " with Morgan Freeman": "" }
    ],
    "Lowercase": [
        "a",
        "\\d+am",
        "an",
        "as",
        "and",
        "are",
        "at",
        "but",
        "by",
        "for",
        "from",
        "in",
        "is",
        "of",
        "on",
        "or",
        "the",
        "to",
        "with",
        "x"
    ]
}